#div_form, #div_form_log {
    height: 20rem;
    width: 60%;
    border: 1px solid black;
    align-content: center;
    margin-left: 15%;
}
h2 {
    text-align: center;
}
.menu {
    margin-left:24%;
}

table {
    width: 100%;
    border: 1px solid black;
}

td,th {
   width:33%;
}